<div class=" logo"><p><span>VIRVO</span></p></div>
      <div class="box header">
        <div class="box center">
          <img   src="/static/virvo/images/表具管理/u2.png">
        </div>
        
        <div class="box center" >
          <label class="brand_input">智慧水务一体化平台</label>
        </div>
        
        
        
        <div class="box user center">
          <p><span>18025317929</span></p>
        </div>
        <div class=" box date_1">
            <div class="w"> week </div>
            <div class="d"> day</div>
            <div class="m"> month </div>
          
        
        </div>
        <div class="box time_1">
          time
        </div>
      </div>