{% load staticfiles %}<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Home{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="{% static 'virvo/resources/css/jquery-ui-themes.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'virvo/resources/css/axure_rp_page.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'virvo/data/styles.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'virvo/files/站点管理/styles.css' %}" type="text/css" rel="stylesheet"/>
    <script src="{% static 'virvo/resources/scripts/jquery-1.7.1.min.js' %}"></script>
    <script src="{% static 'virvo/resources/scripts/jquery-ui-1.8.10.custom.min.js' %}"></script>
    <script src="{% static 'virvo/resources/scripts/prototypePre.js' %}"></script>
    <script src="{% static 'virvo/data/document.js' %}"></script>
    <script src="{% static 'virvo/resources/scripts/prototypePost.js' %}"></script>
    <script src="{% static 'virvo/files/站点管理/data.js' %}"></script>


    <!-- zTree -->
    <link rel="stylesheet" href="{% static 'zTree/css/demo.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'zTree/css/zTreeStyle/zTreeStyle.css' %}" type="text/css">
  
    <script type="text/javascript" src="{% static 'zTree/js/jquery.ztree.core.js' %}"></script>

    
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return "{% static 'virvo/resources/images/transparent.gif' %}"; };
      $axure.utils.getOtherPath = function() { return "{% static 'virvo/resources/Other.html' %}"; };
      $axure.utils.getReloadPath = function() { return "{% static 'virvo/resources/reload.html' %}"; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      {% include "virvo/nav.html"  %}

      {% include "virvo/header.html"  %}

      <div id="u771" class="ax_default box_3">
        <div id="u771_div" class="">
          {% block content %}

            
          {% endblock content %}
        </div>
        <!-- Unnamed () -->
        <div id="u772" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      {% block breadcrumbs %}
        <!-- Unnamed (矩形) -->
        <div id="u773" class="ax_default box_3">
          <div id="u773_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u774" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>
        <!-- Unnamed (矩形) -->
        <div id="u775" class="ax_default">
          <div id="u775_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u776" class="text">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
      <div id="u817" class="ax_default label">
        <div id="u817_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u818" class="text">
          <p><span>首页&nbsp; &nbsp; /&nbsp; &nbsp; 数据监控</span></p>
        </div>
      </div>
      {% endblock breadcrumbs %}

      {% block content_header %}
      <!-- Unnamed (文本框) -->
      <div id="u912" class="ax_default _输入框">
        <input id="u912_input" type="text" value="站点管理"/>
      </div>

      {% endblock content_header %}


      {% block organtree %}
        <!-- Unnamed (组织列表) -->

      <!-- Unnamed (组合) -->
      <div id="u828" class="ax_default" data-left="254" data-top="189" data-width="280" data-height="706">

        <!-- Unnamed (矩形) -->
        <div id="u829" class="ax_default box_1">
          <div id="u829_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u830" class="text">
            <p><span>组织架构</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u831" class="ax_default">
          <div id="u831_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u832" class="text">
            <p><span></span></p>
          </div>
        </div>



        {% include 'virvo/ogantree.html' %}
      </div>



      {% endblock organtree %}


    </div>  <!-- id-base -->

  </body>
</html>