{% extends 'virvo/_base.html' %}




{% block content %}
<div class=" context">



<!-- Unnamed (表格) -->
<div  class="ax_default">

  <div class="list-group" role="tab" id="heading">
      <div>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1" class="list-group-item active main-color-bg">
          <span class="fa fa-caret-down" title="Toggle dropdown menu"></span> 基本配置
        </a>
      </div>
      
          <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading">
            <div>
                <form  method='POST' class = "form-horizontal" action='{{ request.build_absolute_uri|safe }}' role = "form">
                  {% csrf_token %}
                  {{ form.as_table }}
                  <button type="submit" class="btn btn-primary">提交</button>
                </form>
            </div>
        </div>
      
  </div>

  <div class="list-group" role="tab" id="heading">
      <div>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1" class="list-group-item active main-color-bg">
          <span class="fa fa-caret-down" title="Toggle dropdown menu"></span> 站点配置
        </a>
      </div>
      
          <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading">
            <div>
              <table id="tb_stations" class="table table-bordered">
                <thead>
                  <tr>
                    <th class="id orderable"><a href="?sort=id">ID</a></th>
                    
                    <th class="orderable station_name"><a href="?sort=station_name">站点名称</a></th>
                    <th class="meter_property orderable"><a href="?sort=meter_property">类型</a></th>
                    <th class="meter_type orderable"><a href="?sort=meter_type">表具类型</a></th>
                    <th class="meter_code orderable"><a href="?sort=meter_code">表具编号</a></th>
                    
                    <th class="caliber orderable"><a href="?sort=caliber">口径</a></th>
                    <th class="belongto orderable"><a href="?sort=belongto">所属组织</a></th>
                    
                    <th class="installed orderable"><a href="?sort=installed">安装日期</a></th>
                    
                    
                  </tr>
  
                </thead>
               {% for obj in object_list %}
                  <tr>
                    <td>{{ obj.id }} </td>
                    <td>{{ obj.station_name }} </td>
                    <td>{{ obj.meter_property }} </td>
                    <td>{{ obj.meter_type }} </td>
                    <td>{{ obj.meter_code }} </td>
                    
                    <td>{{ obj.caliber }} </td>
                    <td>{{ obj.belongto }} </td>
                    
                    <td>{{ obj.installed }} </td>
                    
                    
                  </tr>
                  
               {% endfor %}
             </table>
            </div>
        </div>
      
  </div>

  <div id="form-modal" class="modal fade">
            <div class="modal-dialog" style="width: 1200px;">
                <div class="modal-content">
                    <!-- <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Modal title</h4>
                    </div> -->
                    <div id="form-modal-body" class="modal-body">
                        
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div> -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal --> 


   

</div>  
{% endblock content %}







   {% block javascript %}
   {{ block.super }}
    <script type="text/javascript">
        $("#tb_stations").on('click', '.btnDelete', function () {
            $(this).closest('tr').remove();
        });

      var formAjaxSubmit = function(form, modal) {
  
        $(form).submit(function (e) {
          console.log('submit?');
          console.log($(this).attr('method'));
          console.log($(this).attr('action'));
          console.log($(this).serialize());
            e.preventDefault();
            $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (xhr, ajaxOptions, thrownError) {
                  console.log("formAjaxSubmit success");
                    if ( $(xhr).find('.has-error').length > 0 ) {
                        $(modal).find('.modal-body').html(xhr);
                        formAjaxSubmit(form, modal);
                    } else {
                      console.log("formAjaxSubmit no error");
                        $(modal).modal('toggle');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                  console.log($(this).attr('action'));
                  console.log("formAjaxSubmit error");
                }
            });
        });
    }
            
    $('.alter-button').click(function() {
        $endpoint = $(this).attr('data-url');
        $('#form-modal-body').load($endpoint, function () {
            $('#form-modal').modal('toggle');
            
            formAjaxSubmit('#form-modal-body form', '#form-modal');
            
        });
    });
        
    </script>
{% endblock %}