{% extends 'virvo/_base.html' %}




{% block content %}
<div class=" context">



<!-- Unnamed (表格) -->
<div  class="ax_default">

  <div class="list-group" role="tab" id="heading">
      <div>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1" class="list-group-item active main-color-bg">
          <span class="fa fa-caret-down" title="Toggle dropdown menu"></span> 基本配置
        </a>
      </div>
      
          <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading">
            <div>
                <form  method='POST' class = "form-horizontal" action='{{ request.build_absolute_uri|safe }}' role = "form">
                  {% csrf_token %}
                  <table>
                  {{ form.as_table }}
                  </table>
                  <button type="submit" class="btn btn-primary">提交</button>
                </form>
            </div>
        </div>
      
  </div>

  <div class="list-group" role="tab" id="heading">
      <div>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1" class="list-group-item active main-color-bg">
          <span class="fa fa-caret-down" title="Toggle dropdown menu"></span> 站点配置
        </a>
      </div>
      
          <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading">
            <div>
              <table id="tb_dma_stations" class="table table-bordered">
                <thead>
                  <tr>
                    <th class="id orderable"><a href="?sort=id">ID</a></th>
                    
                    <th class="orderable station_name"><a href="?sort=station_name">站点名称</a></th>
                    <th class="meter_property orderable"><a href="?sort=meter_property">类型</a></th>
                    <th class="meter_type orderable"><a href="?sort=meter_type">表具类型</a></th>
                    <th class="meter_code orderable"><a href="?sort=meter_code">表具编号</a></th>
                    
                    <th class="caliber orderable"><a href="?sort=caliber">口径</a></th>
                    <th class="belongto orderable"><a href="?sort=belongto">所属组织</a></th>
                    
                    <th class="installed orderable"><a href="?sort=installed">安装日期</a></th>
                    
                    
                  </tr>
  
                </thead>
               {% for obj in station_list %}
                  <tr>
                    <td>{{ obj.id }} </td>
                    <td>{{ obj.station_name }} </td>
                    <td>{{ obj.meter_property }} </td>
                    <td>{{ obj.meter_type }} </td>
                    <td>{{ obj.meter_code }} </td>
                    
                    <td>{{ obj.caliber }} </td>
                    <td>{{ obj.belongto }} </td>
                    
                    <td>{{ obj.installed }} </td>
                    
                    
                  </tr>
                  
               {% endfor %}
             </table>
            </div>
        </div>
      
  </div>

  <div>
    <button class="btn alter-button">new</button>
  </div>

  <div id="new-form-modal" class="modal fade">
            <div class="modal-dialog" style="width: 1200px;">
                <div class="modal-content">
                    <!-- <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Modal title</h4>
                    </div> -->
                    <div id="form-modal-body" class="modal-body">
                        <form class="new-form">
                          {% csrf_token %}
                          <div><span class="new-form-error"></span></div>
                          <input type="text" name="dmano" placeholder="dma no">
                          <input type="text" name="dmaname" placeholder="dma name">
                          <input type="text" name="creator" placeholder="dma creator">
                          <input type="text" name="create_date" placeholder="create date">
                          <input type="submit" value="Tijiao">
                          
                        </form>
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div> -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal --> 


   

</div>  
{% endblock content %}







   {% block javascript %}
   {{ block.super }}
    <script type="text/javascript">
        $("#tb_stations").on('click', '.btnDelete', function () {
            $(this).closest('tr').remove();
        });

      
            
    $('.alter-button').click(function() {
        var $newformmodal = $("#new-form-modal");

        $newformmodal.modal();
        
        
    });

    $('.new-form').submit(function(e){
      e.preventDefault();
      var nendpoint = "{% url 'virvo:create_dma' %}";

      $.ajax({
        method:'POST',
        data:$(this).serialize(),
        url:nendpoint,
        success:function(data){
          // console.log(data);
          $('.new-form-error').html('success save');
        },
        error:function (data) {
          // console.log(data);
          $('.new-form-error').html('error save');
        }
      })
    })
        
    </script>
{% endblock %}