
<div class=" formedit">
    <div class="form_header"><div class="pull-left">新增站点</div></div>

    <div style="margin-top: 5px;">
        <div class = "panel panel-primary ">
          
           <div class = "panel-body">
                <form  method='POST' class = "form-horizontal" role = "form">{% csrf_token %}
       
                   <div class = "form-group">
                      <label for = "{{ form.station_name.id_for_label }}" class = "col-sm-4 control-label">站点名称</label>
                        
                      <div class = "col-sm-8">

                         <input type = "text" class = "form-control" id = "id_station_name" value="{{ form.station_name.value }}" >
                         
                      </div>
                   </div>
                   
                   <div class = "form-group">
                      <label for = "staion_desc" class = "col-sm-4 control-label">站点描述</label>
                        
                      <div class = "col-sm-8">
                         <input type = "text" class = "form-control" id = "staion_desc" value="staion_desc" placeholder = "staion_description">
                      </div>
                   </div>

                   <div class = "form-group">
                      <label for = "{{ form.belongto.id_for_label }}" class="col-sm-4 control-label">所属组织</label>
                      <div class="col-sm-8">
                          <select class = "form-control " id="id_belongto" value="{{ form.belongto.value }}">
                             <option>10</option>
                             <option>20</option>
                             <option>30</option>
                             <option>40</option>
                             <option>50</option>
                          </select>
                      </div>
                   </div>

                   <div class = "form-group">
                      <label for = "{{ form.meter_property.id_for_label }}" class="col-sm-4 control-label">用水性质</label>
                      <div class="col-sm-8">
                          <select class = "form-control " id="id_meter_property" value="{{ form.meter_property.value }}">
                             <option>10</option>
                             <option>20</option>
                             <option>30</option>
                             <option>40</option>
                             <option>50</option>
                          </select>
                      </div>
                   </div>

                   <div class = "form-group">

                      <div class = "col-sm-offset-2 col-sm-8">
                         <div class = "radio">
                            <label class="checkbox-inline"><input type = "radio" name = "optionsRadios" id = "optionsRadios3" value = "option3" checked> 水表</label>
                            <label class="checkbox-inline"><input type = "radio" name = "optionsRadios" id = "optionsRadios4" value = "option4" checked> 流量计</label>
                         </div>
                      </div>
                   </div>

                   <div class = "form-group">
                      <label for = "related_meter" class="col-sm-4 control-label">关联表具</label>
                      <div class="col-sm-8">
                          <select class = "form-control " id="sname">
                             <option>10</option>
                             <option>20</option>
                             <option>30</option>
                             <option>40</option>
                             <option>50</option>
                          </select>
                      </div>
                   </div>

                   <div class = "form-group">
                      <label for = "{{ form.meter_code.id_for_label }}" class = "col-sm-4 control-label">表具编号</label>
                        
                      <div class = "col-sm-8">
                         <input type = "text" class = "form-control" id = "id_meter_code" value="{{ form.meter_code.value }}" placeholder = "meter_code">
                         
                      </div>
                   </div>
                   
                   <div class = "form-group">
                      <label for = "{{ form.simno.id_for_label }}" class = "col-sm-4 control-label">SIM卡号</label>
                        
                      <div class = "col-sm-8">
                         <input type = "text" class = "form-control" id = "id_simno" value="{{ form.simno.value }}" placeholder = "staion_description">
                      </div>
                   </div>

                   <div class = "form-group">
                      <label for = "{{ form.caliber.id_for_label }}" class = "col-sm-4 control-label">口径</label>
                        
                      <div class = "col-sm-8">
                         <input type = "text" class = "form-control" id = "id_caliber" value="{{ form.caliber.value }}" placeholder = "caliber">
                         
                      </div>
                   </div>
                   
                   <div class = "form-group">
                      <label for = "installed" class = "col-sm-4 control-label">安装日期</label>
                        
                      <div class = "col-sm-8">
                         <input type = "text" class = "form-control" id = "installed" placeholder = "installed">
                      </div>
                   </div>
                   
                   
                    
                </form>
            </div>
           <!-- <div class = "panel-footer">Panel footer</div> -->
        </div>
    </div>

    <div class="form_map">
        <div style="border: 1px solid grey;">
          
            <div id="js-map" class="map"></div>
            <div id="js-overlay" class="overlay">
                <button type="button" id="js-clone" class="btn btn-success">Clone</button>
                <button type="button" id="js-remove" class="btn btn-danger">Remove</button>
            </div>
          
        </div>
        
        <div>
          <div style="margin-top: 30px;">
            <label for = "jingdu" class = "col-sm-3 control-label">经度:</label>
              
            <div class = "col-sm-3">
               <input type = "text" class = "form-control " id = "jingdu" placeholder = "102.8475475">
               
            </div>
         </div>
         
         <div>
            <label for = "weidu" class = "col-sm-3 control-label">纬度:</label>
              
            <div class = "col-sm-3">
               <input type = "text" class = "form-control" id = "weidu" placeholder = "96.134453">
            </div>
         </div>
       </div>

       <div class = "form-group">
          <label for = "location" class="col-sm-3 control-label" >位置信息</label>
          <div class="col-sm-8" >
              <select class = "form-control " id="location">
                 <option>室外地上</option>
                 <option>室外底下</option>
                 <option>室内</option>
                 
              </select>
          </div>
       </div>
        
    </div>

    <div class="form_img">
      <div ><button type="button" class="btn btn-primary">载入现场图片</button></div>
      <div class="form_img_box"></div>
      <div class="form_img_box"></div>
      <div class="form_img_box"></div>
      <div class="form_img_box"></div>
      <div class="form_img_box"></div>
    </div>
    
</div>

