{% load staticfiles %}

<!-- Unnamed (组合) -->
      <div id="u716" class="ax_default" data-left="258" data-top="28" data-width="36" data-height="36">

        <!-- Unnamed (椭圆形) -->
        <div id="u717" class="ax_default ellipse">
          <img id="u717_img" class="img " src="{% static 'virvo/images/表具管理/u2.png' %}"/>
          <!-- Unnamed () -->
          <div id="u718" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u719" class="ax_default _文本段落1">
          <div id="u719_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u720" class="text">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (垂直线) -->
        <div id="u728" class="ax_default line">
          <img id="u728_img" class="img " src="{% static 'virvo/images/表具管理/u13.png' %}"/>
          <!-- Unnamed () -->
          <div id="u729" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>


      <!-- Unnamed (文本框) -->
        <div id="u730" class="ax_default _输入框">
          <input id="u730_input" type="text" value="智慧水务一体化平台"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u777" class="ax_default">
          <div id="u777_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u778" class="text">
            <p><span></span></p>
          </div>
        </div>

<div id="u777" class="ax_default">
          <div id="u777_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u778" class="text" style="top: -2px; transform-origin: 13px 17px 0px;">
            <p><span></span></p>
          </div>
        </div>

        <div id="u825" class="ax_default image">
        <img id="u825_img" class="img " src="{% static 'virvo/images/表具管理/u110.png' %}">
        <!-- Unnamed () -->
        <div id="u826" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <div id="u820" class="ax_default image">
          <img id="u820_img" class="img " src="{% static 'virvo/images/表具管理/u105.png' %}">
          <!-- Unnamed () -->
          <div id="u821" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>