<div id="u1436_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u1437" class="ax_default box_1">
              <div id="u1437_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u1438" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- 新增站点组合 (组合) -->
            <div id="u1439" class="ax_default" data-label="新增站点组合" data-left="0" data-top="11" data-width="1100" data-height="873">

              <!-- Unnamed (矩形) -->
              <div id="u1440" class="ax_default label">
                <div id="u1440_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u1441" class="text">
                  <p><span>新增站点</span></p>
                </div>
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u1442" class="ax_default line">
                <img id="u1442_img" class="img " src="images/站点管理/u1442.png">
                <!-- Unnamed () -->
                <div id="u1443" class="text" style="display:none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u1444" class="ax_default label">
                <div id="u1444_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u1445" class="text">
                  <p><span>站点名称：</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u1446" class="ax_default label">
                <div id="u1446_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u1447" class="text">
                  <p><span>站点描述：</span></p>
                </div>
              </div>

              <!-- 站点名称 (文本框) -->
              <div id="u1448" class="ax_default _输入框">
                <input id="u1448_input" value="" style="color: rgb(153, 153, 153);" type="text">
              </div>

              <!-- 站点描述 (文本框) -->
              <div id="u1449" class="ax_default _输入框">
                <input id="u1449_input" value="" style="color: rgb(153, 153, 153);" type="text">
              </div>

              <!-- 下拉 (组合) -->
              <div id="u1450" class="ax_default" data-label="下拉" data-left="190" data-top="199" data-width="324" data-height="36">

                <!-- 所属组织 (下拉列表框) -->
                <div id="u1451" class="ax_default droplist">
                  <select id="u1451_input">
                    <option value="10">10</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                  </select>
                </div>

                <!-- Unnamed (图片) -->
                <div id="u1452" class="ax_default image">
                  <img id="u1452_img" class="img " src="images/表具管理/u636.png">
                  <!-- Unnamed () -->
                  <div id="u1453" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u1454" class="ax_default label">
                <div id="u1454_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u1455" class="text">
                  <p><span>所属组织：</span></p>
                </div>
              </div>

              <!-- 下拉 (组合) -->
              <div id="u1456" class="ax_default" data-label="下拉" data-left="190" data-top="259" data-width="324" data-height="36">

                <!-- 用水性质 (下拉列表框) -->
                <div id="u1457" class="ax_default droplist">
                  <select id="u1457_input">
                    <option value="10">10</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                  </select>
                </div>

                <!-- Unnamed (图片) -->
                <div id="u1458" class="ax_default image">
                  <img id="u1458_img" class="img " src="images/表具管理/u636.png">
                  <!-- Unnamed () -->
                  <div id="u1459" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u1460" class="ax_default label">
                <div id="u1460_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u1461" class="text">
                  <p><span>用水性质：</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u1462" class="ax_default label">
                <div id="u1462_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u1463" class="text">
                  <p><span>经度：</span></p>
                </div>
              </div>

              <!-- 下拉 (组合) -->
              <div id="u1464" class="ax_default" data-label="下拉" data-left="190" data-top="389" data-width="324" data-height="36">

                <!-- Unnamed (下拉列表框) -->
                <div id="u1465" class="ax_default droplist">
                  <select id="u1465_input">
                    <option value="10">10</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                  </select>
                </div>

                <!-- Unnamed (图片) -->
                <div id="u1466" class="ax_default image">
                  <img id="u1466_img" class="img " src="images/表具管理/u636.png">
                  <!-- Unnamed () -->
                  <div id="u1467" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u1468" class="ax_default label">
                <div id="u1468_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u1469" class="text">
                  <p><span>关联表具：</span></p>
                </div>
              </div>

              <!-- Unnamed (文本框) -->
              <div id="u1470" class="ax_default _输入框">
                <input id="u1470_input" value="" style="color: rgb(153, 153, 153);" type="text">
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u1471" class="ax_default label">
                <div id="u1471_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u1472" class="text">
                  <p><span>纬度：</span></p>
                </div>
              </div>

              <!-- Unnamed (文本框) -->
              <div id="u1473" class="ax_default _输入框">
                <input id="u1473_input" value="" style="color: rgb(153, 153, 153);" type="text">
              </div>

              <!-- Unnamed (图片) -->
              <div id="u1474" class="ax_default image">
                <img id="u1474_img" class="img " src="images/站点管理/u1474.png">
                <!-- Unnamed () -->
                <div id="u1475" class="text" style="display:none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (单选按钮) -->
              <div id="u1476" class="ax_default radio_button">
                <label for="u1476_input">
                  <!-- Unnamed () -->
                  <div id="u1477" class="text">
                    <p><span>&nbsp; 水表</span></p>
                  </div>
                </label>
                <input id="u1476_input" value="radio" name="u1476" checked="" type="radio">
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u1478" class="ax_default line">
                <img id="u1478_img" class="img " src="images/站点管理/u1478.png">
                <!-- Unnamed () -->
                <div id="u1479" class="text" style="display:none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (单选按钮) -->
              <div id="u1480" class="ax_default radio_button">
                <label for="u1480_input">
                  <!-- Unnamed () -->
                  <div id="u1481" class="text">
                    <p><span>&nbsp; 流量计</span></p>
                  </div>
                </label>
                <input id="u1480_input" value="radio" name="u1480" type="radio">
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u1482" class="ax_default label">
                <div id="u1482_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u1483" class="text">
                  <p><span>表具编号：</span></p>
                </div>
              </div>

              <!-- Unnamed (文本框) -->
              <div id="u1484" class="ax_default _输入框">
                <input id="u1484_input" value="&nbsp;&nbsp; 170209566" type="text">
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u1485" class="ax_default label">
                <div id="u1485_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u1486" class="text">
                  <p><span>SIM卡号：</span></p>
                </div>
              </div>

              <!-- Unnamed (文本框) -->
              <div id="u1487" class="ax_default _输入框">
                <input id="u1487_input" value="&nbsp;&nbsp; 648198274032" type="text">
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u1488" class="ax_default label">
                <div id="u1488_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u1489" class="text">
                  <p><span>口径：</span></p>
                </div>
              </div>

              <!-- Unnamed (文本框) -->
              <div id="u1490" class="ax_default _输入框">
                <input id="u1490_input" value="&nbsp;&nbsp; DN100" type="text">
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u1491" class="ax_default label">
                <div id="u1491_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u1492" class="text">
                  <p><span>安装日期：</span></p>
                </div>
              </div>

              <!-- Unnamed (文本框) -->
              <div id="u1493" class="ax_default _输入框">
                <input id="u1493_input" value="&nbsp;&nbsp; 2017&nbsp; 12 - 18" type="text">
              </div>

              <!-- Unnamed (水平线) -->
              <div id="u1494" class="ax_default line">
                <img id="u1494_img" class="img " src="images/站点管理/u1442.png">
                <!-- Unnamed () -->
                <div id="u1495" class="text" style="display:none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u1496" class="ax_default box_1">
                <div id="u1496_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u1497" class="text" style="display:none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u1498" class="ax_default _查询按钮" style="cursor: pointer;">
                <div id="u1498_div" class="" tabindex="0"></div>
                <!-- Unnamed () -->
                <div id="u1499" class="text">
                  <p><span>载入现场图片</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u1500" class="ax_default box_1">
                <div id="u1500_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u1501" class="text" style="display:none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u1502" class="ax_default box_1">
                <div id="u1502_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u1503" class="text" style="display:none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u1504" class="ax_default box_1">
                <div id="u1504_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u1505" class="text" style="display:none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u1506" class="ax_default box_1">
                <div id="u1506_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u1507" class="text" style="display:none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u1508" class="ax_default _查询按钮" style="cursor: pointer;">
                <div id="u1508_div" class="" tabindex="0"></div>
                <!-- Unnamed () -->
                <div id="u1509" class="text">
                  <p><span>提交</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u1510" class="ax_default _查询按钮" style="cursor: pointer;">
                <div id="u1510_div" class="" tabindex="0"></div>
                <!-- Unnamed () -->
                <div id="u1511" class="text">
                  <p><span>关闭</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u1512" class="ax_default _查询按钮">
                <div id="u1512_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u1513" class="text">
                  <p><span>重点关注</span></p>
                </div>
              </div>

              <!-- 下拉 (组合) -->
              <div id="u1514" class="ax_default" data-label="下拉" data-left="661" data-top="629" data-width="324" data-height="36">

                <!-- Unnamed (下拉列表框) -->
                <div id="u1515" class="ax_default droplist">
                  <select id="u1515_input">
                    <option selected="" value="   室外地下">&nbsp;&nbsp; 室外地下</option>
                    <option value="   室外地上">&nbsp;&nbsp; 室外地上</option>
                    <option value="   室内">&nbsp;&nbsp; 室内</option>
                  </select>
                </div>

                <!-- Unnamed (图片) -->
                <div id="u1516" class="ax_default image">
                  <img id="u1516_img" class="img " src="images/表具管理/u636.png">
                  <!-- Unnamed () -->
                  <div id="u1517" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u1518" class="ax_default label">
                <div id="u1518_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u1519" class="text">
                  <p><span>位置信息：</span></p>
                </div>
              </div>
            </div>
          </div>