{% extends 'virvo/_base.html' %}




{% block content %}
<div class=" context">
      

      

      <div id="u1031" class="ax_default" data-label="站点管理">
          <div id="u1031_state0" class="panel_state" data-label="站点" style="">
            <div id="u1031_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u1032" class="ax_default box_1">
                <div id="u1032_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u1033" class="text" style="display:none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u1034" class="ax_default box_1">
                <div id="u1034_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u1035" class="text" style="display:none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (表格) -->
              <div id="u1036" class="ax_default">

                <div class="list-group" role="tab" id="heading">
                    <div>
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1" class="list-group-item active main-color-bg">
                        <span class="fa fa-caret-down" title="Toggle dropdown menu"></span> 站点管理
                      </a>
                    </div>
                    
                        <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading">
                          <div>
                            {% include 'virvo/table_station.html' %}
                          </div>
                      </div>
                    
                </div>

                <!-- Modal -->
    <div class = "modal fade" id = "myModal" tabindex = "-1" role = "dialog" 
       aria-labelledby = "myModalLabel" aria-hidden = "true">
       
       <div class = "modal-dialog">
          <div class = "modal-content">
             
             <div class = "modal-header">
                <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
                   ×
                </button>
                
                <h4 class = "modal-title" id = "myModalLabel">
                   流量计修改
                </h4>
             </div>
             
             <div class = "modal-body">
                <form class = "form-horizontal" role = "form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class = "form-group">
                              <label for = "firstname" class = "col-sm-4 control-label">First Name</label>
                                
                              <div class = "col-sm-8">
                                 <input type = "text" class = "form-control" id = "firstname" placeholder = "Enter First Name">
                                 
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6">
                            <div class = "form-group">
                              <label for = "lastname" class = "col-sm-4 control-label">Last Name</label>
                                
                              <div class = "col-sm-8">
                                 <input type = "text" class = "form-control" id = "lastname" placeholder = "Enter Last Name">
                              </div>
                           </div>
                        </div>
                    </div>
   
                   
                   
                   
                   
                   <div class = "form-group">

                      <div class = "col-sm-offset-4 col-sm-8">
                         <div class = "checkbox">
                            <label><input type = "checkbox"> Remember me</label>
                         </div>
                      </div>
                   </div>

                   <div class = "form-group">

                      <div class = "col-sm-offset-4 col-sm-8">
                         <div class = "radio">
                            <label><input type = "radio" name = "optionsRadios" id = "optionsRadios1" value = "option1" checked> Option 1</label>
                         </div>
                      </div>
                   </div>

                   <div class = "form-group">

                      <div class = "col-sm-offset-4 col-sm-8">
                         <div class = "radio">
                            <label><input type = "radio" name = "optionsRadios" id = "optionsRadios2" value = "option2" checked> Option 2</label>
                         </div>
                      </div>
                   </div>

                   <div class = "form-group">

                      <div class = "col-sm-offset-4 col-sm-8">
                         <div class = "radio">
                            <label class="checkbox-inline"><input type = "radio" name = "optionsRadios" id = "optionsRadios3" value = "option3" checked> Option 3</label>
                            <label class="checkbox-inline"><input type = "radio" name = "optionsRadios" id = "optionsRadios4" value = "option4" checked> Option 4</label>
                         </div>
                      </div>
                   </div>

                   <div class = "form-group">
                      <label for = "sname" class="col-sm-4 control-label">Select list</label>
                      <div class="col-sm-8">
                          <select class = "form-control " id="sname">
                             <option>1</option>
                             <option>2</option>
                             <option>3</option>
                             <option>4</option>
                             <option>5</option>
                          </select>
                      </div>

                      
                   </div>

                   <div class = "form-group">
                      <label for = "mname" class="col-sm-4 control-label">Multiple Select list</label>
                      
                      <div class="col-sm-8">
                          <select multiple class = "form-control" id="mname">
                             <option>1</option>
                             <option>2</option>
                             <option>3</option>
                             <option>4</option>
                             <option>5</option>
                          </select>
                      </div>
                   </div>

                   

                   <div class = "form-group">
                      <label for = "comment" class = "col-sm-4 control-label">Comment</label>
                        
                      <div class = "col-sm-8">
                         <textarea class = "form-control" id="comment" rows = "3" placeholder="say something"></textarea>
                      </div>
                      <div class = "col-sm-offset-4 col-sm-8">
                         <p class = "form-control-static">no bullshit</p>
                      </div>
                   </div>
                   
                   
                   <div class = "modal-footer">
                    <button type = "button" class = "btn btn-default" data-dismiss = "modal">
                       Close
                    </button>
                    
                    <button type = "button" class = "btn btn-primary">
                       Submit changes
                    </button>
                 </div>
                    
                </form>
             </div>
             
             
             
          </div><!-- /.modal-content -->
       </div><!-- /.modal-dialog -->
       
    </div><!-- /.modal -->

   

            <!-- Unnamed (表格) -->
            <!-- <div id="u920" class="ax_default"> -->
                
            <!-- </div> -->
        </div>
    </div>
  </div>
  </div>  

</div>  
{% endblock content %}







   {% block javascript %}
   {{ block.super }}
    <script type="text/javascript">
        
        $("#tb_stations").on('click', '.btnDelete', function () {
            $(this).closest('tr').remove();
        });

        $("#tb_stations").on('click', '.btnAlter', function () {
            // $(this).closest('tr').remove();
        });
    </script>
{% endblock %}