{% extends 'virvo/_base.html' %}




{% block content %}
<div class=" context">
      

      

      <!-- <div  class="ax_default" data-label="站点管理">
          <div id="u1031_state0" class="panel_state" data-label="站点" style="">
            <div id="u1031_state0_content" class="panel_state_content"> -->

              

              <!-- Unnamed (表格) -->
              <div  class="ax_default">

                <div class="list-group" role="tab" id="heading">
                    <div>
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1" class="list-group-item active main-color-bg">
                        <span class="fa fa-caret-down" title="Toggle dropdown menu"></span> 站点管理
                      </a>
                    </div>
                    
                        <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading">
                          <div>
                            {% include 'virvo/table_station.html' %}
                          </div>
                      </div>
                    
                </div>

                <!-- Modal -->
                <div class="modal " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ">
                  <div class="modal-dialog" style="width: 1100px;">
                  <div class="modal-content">
                    <!-- <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;   </span><span class="sr-only">Close</span></button>
                      <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div> -->
                    <div class="modal-body">
                      {% include 'virvo/edit_form.html' %}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary pull-left" >重点关注</button>
                      <button type="button" class="btn btn-primary">提交</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                      
                    </div>
                   </div>
                  </div>
                </div>
                <!-- /.modal -->

   
        </div>
   <!--  </div>
  </div>
  </div>   -->

</div>  
{% endblock content %}







   {% block javascript %}
   {{ block.super }}
    <script type="text/javascript">
        
        $("#tb_stations").on('click', '.btnDelete', function () {
            $(this).closest('tr').remove();
        });

        $(".btnAlter[data-target='#myModal']").click(function() {

          console.log("i am here?")
          // $(function(){
          //     load_station_map();
          // });

          $('#myModal').on('shown.bs.modal', function () {
            load_station_map();
         })

          // map.updateSize();
          
          // map.render();
         
          console.log("load map");
           // $('.modal-body').html(modalBody);
           
        });

        // $("#tb_stations").on('click', '.btnAlter', function () {
        //     // $(this).closest('tr').remove();
        // });

function load_station_map(){
    // map
    console.log("0");
    var vectorLayer = new ol.layer.Vector({
        source: new ol.source.Vector({
            features: [
                new ol.Feature(new ol.geom.Circle([2780119, 8437147], 900)),
                new ol.Feature(new ol.geom.Circle([2774826, 8433459], 850)),
                new ol.Feature(new ol.geom.Circle([2772686, 8438217], 999))
            ]
        })
    });

    var map = new ol.Map({
        view: new ol.View({
            zoom: 13,
            center: [2775906, 8433717]  //22.6942072709,114.3524087439
        }),
        target: 'js-map',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM(),
                opacity: 0.4
            }),
            vectorLayer
        ]
    });
console.log("1");
    var overlay = new ol.Overlay({
        element:document.getElementById('js-overlay')
    });

    map.addOverlay(overlay);
    document.getElementById('js-overlay').style.display = 'block';

    var selectedFeature;

    var select = new ol.interaction.Select({
        condition:ol.events.condition.click,
        layers:[vectorLayer]
    });
    map.addInteraction(select);

    select.on('select',function(event) {
        selectedFeature = event.selected[0];
        (selectedFeature) ? overlay.setPosition(selectedFeature.getGeometry().getCenter()) : overlay.setPosition(undefined);
    });

    document.getElementById('js-clone').addEventListener('click',function() {
        var circle = selectedFeature.clone();
        var circleGeometry = circle.getGeometry();
        var circleCenter = circleGeometry.getCenter();

        circleGeometry.setCenter([
            circleCenter[0] + circleGeometry.getRadius() * 2,circleCenter[1]
        ]);
        vectorLayer.getSource().addFeature(circle);
        overlay.setPosition(undefined);
        select.getFeatures().clear();
    });

    document.getElementById('js-remove').addEventListener('click',function() {
        vectorLayer.getSource().removeFeature(selectedFeature);
        overlay.setPosition(undefined);
        select.getFeatures().clear();
    });
}
    </script>
{% endblock %}