{% extends 'virvo/_base.html' %}


{% block organizationtree %}
<div class=" treel">
  {% include 'virvo/stationtree.html' %}
</div>
{% endblock %}




{% block content %}
<div class=" context">

 

<!-- Unnamed (表格) -->
<div  class="ax_default">

  <div class="list-group" role="tab" id="heading">
      <div>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1" class="list-group-item active main-color-bg">
          <span class="fa fa-caret-down" title="Toggle dropdown menu"></span> 站点管理
        </a>
      </div>
      
          <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading">
            <div>
              <form>
                <input type="text" name="sname">
                <input type="submit" name="btn_seach">
                
              </form>
              <button id="add_station">Add menu</button>
              <table id="tb_stations" class="table table-bordered">
                <thead>
                  <tr>
                    <th class="id orderable"><a href="?sort=id">ID</a></th>
                    <th>选择</th>
                    <th></th>
                    <th class="orderable station_name"><a href="?sort=station_name">站点名称</a></th>
                    <th class="meter_property orderable"><a href="?sort=meter_property">用水性质</a></th>
                    <th class="meter_type orderable"><a href="?sort=meter_type">表具类型</a></th>
                    <th class="meter_code orderable"><a href="?sort=meter_code">表具编号</a></th>
                    <th class="orderable simno"><a href="?sort=simno">SIM卡号</a></th>
                    <th class="caliber orderable"><a href="?sort=caliber">口径</a></th>
                    <th class="belongto orderable"><a href="?sort=belongto">所属组织</a></th>
                    <th class="big_user orderable"><a href="?sort=big_user">大用户</a></th>
                    <th class="focus orderable"><a href="?sort=focus">重点关注</a></th>
                    <th class="installed orderable"><a href="?sort=installed">安装日期</a></th>
                    
                    
                  </tr>
  
                </thead>
               {% for obj in station_list %}
                  <tr>
                    <td>{{ obj.id }} </td>
                    <td><input type="checkbox"/> </td>
                    <td class="btn_del">
                      <div>
                        <button class="btn alter-button" data-form="{% url 'virvo:station_manager' obj.pk %}" >修改</button>
                        <button type = "button" class = "btnDelete">删除</button>
                        <a class="fa fa-pencil" data-toggle="modal" href="{% url 'virvo:station_manager' obj.pk %}" data-target="#modal" title="edit item" data-tooltip>dfe</a> 
                      </div>
                    </td>

                    
          
                    <td>{{ obj.station_name }} </td>
                    <td>{{ obj.meter_property }} </td>
                    <td>{{ obj.meter_type }} </td>
                    <td>{{ obj.meter_code }} </td>
                    <td>{{ obj.simno }} </td>
                    <td>{{ obj.caliber }} </td>
                    <td>{{ obj.belongto }} </td>
                    <td>{{ obj.big_user }} </td>
                    <td>{{ obj.focus }} </td>
                    <td>{{ obj.installed }} </td>
                    
                    
                  </tr>
                  
               {% endfor %}
             </table>
            </div>
        </div>
      
  </div>



<!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    </div><!-- /.modal -->
   

</div>  
{% endblock content %}







   {% block javascript %}
   {{ block.super }}
    <script type="text/javascript">


      $(function(){
        load_stationTree();
      });

        $("#tb_stations").on('click', '.btnDelete', function () {
            $(this).closest('tr').remove();
        });

      $('.alter-button').click(function(e) {
        e.preventDefault();
          var $newformmodal = $("#staion-form-modal");

          var url = $(this).attr('data-form');
          console.log(url);
          $newformmodal.load(url, function() { // load the url into the modal
            $(this).modal('show'); // display the modal on url load
        });
          // $newformmodal.modal();
          
          
      });

      $('#add_station').click(function() {
          var $newformmodal = $("#staion-form-modal");

          $newformmodal.modal();
          
          
      });

      $('#station-form').submit(function(e){
        e.preventDefault();
        var nendpoint = $('.alter-but1ton').attr('data-form');
  console.log($(this).serialize());
        $.ajax({
          method:'POST',
          data:$(this).serialize(),
          url:nendpoint,
          success:function(data){
            // console.log(data);
            $('.new-form-error').html('success save');
          },
          error:function (data) {
            // console.log(data);
            $('.new-form-error').html('error save');
          }
        })
      })

      
        
    </script>
{% endblock %}