{% extends 'virvo/_base.html' %}


{% block organizationtree %}
<div class=" treel">
  {% include 'virvo/stationtree.html' %}
</div>
{% endblock %}




{% block content %}
<div class=" context">



<!-- Unnamed (表格) -->
<div  class="ax_default">

  <div class="list-group" role="tab" id="heading">
      <div>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1" class="list-group-item active main-color-bg">
          <span class="fa fa-caret-down" title="Toggle dropdown menu"></span> 站点管理
        </a>
      </div>
      
          <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading">
            <div>
              <form>
                <input type="text" name="sname">
                <input type="submit" name="btn_seach">
                
              </form>
              <button id="add_station">Add menu</button>
              <table id="tb_stations" class="table table-bordered">
                <thead>
                  <tr>
                    <th class="id orderable"><a href="?sort=id">ID</a></th>
                    <th>选择</th>
                    <th></th>
                    <th class="orderable station_name"><a href="?sort=station_name">站点名称</a></th>
                    <th class="meter_property orderable"><a href="?sort=meter_property">用水性质</a></th>
                    <th class="meter_type orderable"><a href="?sort=meter_type">表具类型</a></th>
                    <th class="meter_code orderable"><a href="?sort=meter_code">表具编号</a></th>
                    <th class="orderable simno"><a href="?sort=simno">SIM卡号</a></th>
                    <th class="caliber orderable"><a href="?sort=caliber">口径</a></th>
                    <th class="belongto orderable"><a href="?sort=belongto">所属组织</a></th>
                    <th class="big_user orderable"><a href="?sort=big_user">大用户</a></th>
                    <th class="focus orderable"><a href="?sort=focus">重点关注</a></th>
                    <th class="installed orderable"><a href="?sort=installed">安装日期</a></th>
                    
                    
                  </tr>
  
                </thead>
               {% for obj in station_list %}
                  <tr>
                    <td>{{ obj.id }} </td>
                    <td><input type="checkbox"/> </td>
                    <td class="btn_del">
                      <div>
                        <button class="btn alter-button" >修改</button>
                        <button type = "button" class = "btnDelete">删除</button>
                      </div>
                    </td>

                    
          
                    <td>{{ obj.station_name }} </td>
                    <td>{{ obj.meter_property }} </td>
                    <td>{{ obj.meter_type }} </td>
                    <td>{{ obj.meter_code }} </td>
                    <td>{{ obj.simno }} </td>
                    <td>{{ obj.caliber }} </td>
                    <td>{{ obj.belongto }} </td>
                    <td>{{ obj.big_user }} </td>
                    <td>{{ obj.focus }} </td>
                    <td>{{ obj.installed }} </td>
                    
                    
                  </tr>
                  
               {% endfor %}
             </table>
            </div>
        </div>
      
  </div>

  <div id="staion-form-modal" class="modal fade">
            <div class="modal-dialog" style="width: 1200px;">
                <div class="modal-content">
                    <!-- <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Modal title</h4>
                    </div> -->
                    <div id="form-modal-body" class="modal-body">
                        {% include 'virvo/edit_form.html' with form=form %}
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div> -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal --> 


   

</div>  
{% endblock content %}







   {% block javascript %}
   {{ block.super }}
    <script type="text/javascript">


      $(function(){
        load_stationTree();
      });

        $("#tb_stations").on('click', '.btnDelete', function () {
            $(this).closest('tr').remove();
        });

      $('.alter-button').click(function() {
          var $newformmodal = $("#staion-form-modal");

          $newformmodal.modal();
          
          
      });

      $('#add_station').click(function() {
          var $newformmodal = $("#staion-form-modal");

          $newformmodal.modal();
          
          
      });

      

      
        
    </script>
{% endblock %}