{% if form.errors.non_field_errors %}
{{ form.errors.non_field_errors }}
{% endif %}
<form method='POST'> {% csrf_token %}
    
    <div class="fieldWrapper">
        {{ form.station_name.errors }}
        <label for="{{ form.station_name.id_for_label }}">station_name:</label>
        {{ form.station_name }}
    </div>

    <div class="fieldWrapper">
        {{ form.meter_property.errors }}
        <label for="{{ form.meter_property.id_for_label }}"> meter_property:</label>
        {{ form.meter_property }}
    </div>

    <div class="fieldWrapper">
        {{ form.meter_type.errors }}
        <label for="{{ form.meter_type.id_for_label }}">meter_type:</label>
        {{ form.meter_type }}
    </div>

    <div class="fieldWrapper">
        {{ form.meter_code.errors }}
        <label for="{{ form.meter_code.id_for_label }}">meter_code</label>
        {{ form.meter_code }}
    </div>

    <div class="fieldWrapper">
        {{ form.simno.errors }}
        <label for="{{ form.simno.id_for_label }}">simno:</label>
        {{ form.simno }}
    </div>

    <div class="fieldWrapper">
        {{ form.caliber.errors }}
        <label for="{{ form.caliber.id_for_label }}"> caliber:</label>
        {{ form.caliber }}
    </div>

    <div class="fieldWrapper">
        {{ form.big_user.errors }}
        <label for="{{ form.big_user.id_for_label }}">big_user:</label>
        {{ form.big_user }}
    </div>
    
    <div class="fieldWrapper">
        {{ form.focus.errors }}
        <label for="{{ form.focus.id_for_label }}">focus</label>
        {{ form.focus }}
    </div>

    <button type='submit'>Save</button>
</form>


