
{% extends "water/water_home.html" %}

{% load static %}

{% block stylesheet %}
    {{ block.super }}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
{{ form.media }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>


{% endblock %}

{% block content %}
    {% block breadcrumbs %}
        <ol class="breadcrumb">
            <li><a href="{% url 'water:home' %}">Home</a></li>
            <li>数据分析</li>
            <li><a href="{% url 'water:analy_usage' %}">日用水量分析</a></li>
            
        </ol>
    {% endblock %}

    <h1>日用水量分析</h1>

    <form class="navbar-form navbar-left" role="search" method='POST' action='.' data-url='{{ request.build_absolute_uri|safe }}'>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="container">


            <div class="row">
                <div class="col-md-3">
                    {{ form.organization.errors }}
                    <label for="{{ form.organization.id_for_label }}">组织:</label>
                    {{ form.organization }}
                </div>
                <div class="col-md-3">
                    {{ form.station.errors }}
                    <label for="{{ form.station.id_for_label }}">站点名称:</label>
                    {{ form.station }}
                </div>
                <div class="col-md-3">
                    {{ form.date.errors }}
                    <label for="{{ form.date.id_for_label }}">日期:</label>
                    {{ form.date }}
                </div>
                <div class="col-md-1">
                    <button type='submit' name="today">今天</button>
                </div>
                <div class="col-md-1">
                    <button type='submit' name="prevday">前一天</button>
                </div>
                <div class="col-md-1">
                    <button type='submit' name="query">查询</button>
                </div>
                
            </div>

        </div>
    </form>

    <div class="container">
        <div id="chart-day_water" class="col-md-12">
            <h4 class="sub-header">夜间最小流量分析</h4>
            {{ output|safe }}
        </div>

        <div>
            <p>当天用水量：AAAAA.Am3    昨日用水量：BBBBB.Bm3    去年同期用水量：CCCCC.Cm3    最大时段用水量：370.3m3 (9-10)    最小时段用水量：268.7m3 （4-5）    平均时段用水量：310.9m3

            当天时段用水量

            时段基准用水量

            当天日基准：DDDDD.Dm3   基准差值：12.1m3              环比增量：6.5m3                       同比增量：15m3
        </p>
        </div>
    </div>

    <div>
        <h2>站点数据采样明细</h2>
        <form class="navbar-form navbar-left" role="search" method='POST' action='.' data-url='{{ request.build_absolute_uri|safe }}'>
            {% csrf_token %}
            {{ range_form.as_p }}
            <input type="submit" value="查询" />
            
        </form>
        <table class="table table-stripped table-bordered">
        <tr>
            <th>序号</th>
            <th>站点名称</th>
            <th>采样时间</th>
            <th>采样间隔M</th>
            <th>正向累计水量m3</th>
            <th>反向累计水量m3</th>
            <th>瞬时流量m3/h</th>
            <th>压力MPa</th>
            <th>基表电量%</th>
            <th>远传电量%</th>
            <th>信号强度%</th>
        </tr>
        <tr>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
        </tr>
        <tr>
            <td>2</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
        </tr>

        <tr>
            <td>3</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
        </tr>

        <tr>
            <td>4</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
        </tr>
        
        
      </table>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <span>每页</span>
            </div>
            <div class="col-md-1">
                <select>
                  <option>10</option>
                  <option>20</option>
                  <option>30</option>
                  
                </select>
            </div>
            <div class="col-md-1">
                <span>条记录</span>
            </div>


            

            
            <div class="col-md-6">
            {% if contacts.has_other_pages %}
              <ul class="pagination">
                {% if contacts.has_previous %}
                  <li><a href="?page={{ contacts.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in contacts.paginator.page_range %}
                  {% if contacts.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if contacts.has_next %}
                  <li><a href="?page={{ contacts.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
            </div>
        </div>
    </div>



{% endblock %}    