{% extends "water/dma_online.html" %}

{% load render_table from django_tables2 %}

{% block content %}
    {% block breadcrumbs %}
        <ol class="breadcrumb">
            <li><a href="{% url 'water:home' %}">Home</a></li>
            <li>设备管理</li>
            <li><a href="{% url 'water:rt_curve' %}">流量计管理</a></li>
            
        </ol>
    {% endblock %}

    <h1>流量计管理</h1>


    <br>
    <div class = "panel panel-primary col-md-12">
        <div class = "panel-heading">
          流量计管理
       </div>
       <div class = "panel-body">
            <form class="form-inline" role="form" method='POST' action='.' data-url='{{ request.build_absolute_uri|safe }}'>
                {% csrf_token %}
                <div class="form-group">{{ range_form.as_p }}</div>
                
                <div class="form-group"><input type="submit" value="查询" /></div>
                
            </form>
            <table id="detail_table" class="table table-stripped table-bordered">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>站点名称</th>
                        <th>采样时间</th>
                        <th>采样间隔M</th>
                        <th>正向累计水量m3</th>
                        <th>反向累计水量m3</th>
                        <th>瞬时流量m3/h</th>
                        <th>压力MPa</th>
                        <th>基表电量%</th>
                        <th>远传电量%</th>
                        <th>信号强度%</th>
                    </tr>
                </thead>
                <tbody>
                {% for cont in contacts %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            
            <div id="demo_pagination" class="">
                <div class="row">
                    
                    <div class="col-xs-6 col-sm-4 col-md-2 row-space">
                        <div class="input-group" style="margin-top: 20px;">
                            <div class="form-group">
                            <label for="items_perpage">每页</label>
                            <select id="items_perpage">
                              <option value="10">10</option>
                              <option value="20">20</option>
                              <option value="30">30</option>
                              
                            </select>
                            <label >条记录</label>
                        </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="">
                            {% if contacts.has_other_pages %}
                              <ul class="pagination" style="padding-left: 100px;">
                                

                                {% if contacts.has_previous %}
                                  <li><a href="?page={{ contacts.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                  <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in contacts.paginator.page_range %}
                                  {% if contacts.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                  {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                  {% endif %}
                                {% endfor %}
                                {% if contacts.has_next %}
                                  <li><a href="?page={{ contacts.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                  <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}


                              </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2">
                        <div class="input-group" style="margin-top: 20px;">
                            <span class="input-group-addon" title="Go to page"><i class="glyphicon glyphicon-arrow-right"></i></span><input id="goto_page_demo_pag1" type="text" class="form-control small-input" title="Go to page">
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-4 col-md-2 row-space">
                        <div id="rows_info_demo_pag1" class="" style="margin-top: 20px;">
                            1-10 of 1000 records

                        </div>
                    </div>
                </div>
            </div>

        </div>
    
   </div>

   
{% render_table table %}
    

{% endblock %}