{% extends "water/water_home.html" %}

{% block title %}DMA | Online {% endblock %}

<!-- head -->
{% block head %}
    
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'dma/assets/ol3/ol.css' %}" type = "text/css"/>
    
    <link rel="stylesheet" href="{% static 'dma/css/sample.css' %}" type = "text/css"/>
    
    
{% endblock %}

{% block sidebar %}
    <ul id="treeview1">
        <li><a href="#">深圳水务</a>

                    <ul>
                        <li>龙岗</li>
                        <li>南山
                            <ul>
                                <li>科技园
                                    <ul>
                                        <li>南区</li>
                                        <li>北区</li>
                                        <li>高新南</li>
                                    </ul>
                                </li>
                                <li>蛇口</li>
                            </ul>
                        </li>
                        <li>罗湖</li>
                    </ul>
                </li>
    </ul>
{% endblock %}

  {% block content %}
      {% block breadcrumbs %}
        <ol class="breadcrumb">
            <li><a href="{% url 'water:home' %}">Home</a></li>
            <li>数据监控</li>
            <li><a href="{% url 'water:dma_online' %}">DMA在线监控</a></li>
            
        </ol>
    {% endblock %}
    <div id="map" class="map" style="height: 450px;"></div>
    <div id="myposition"></div>

    <br>
    <div class="row">
    <div class = "panel panel-primary col-md-4">
        <div class = "panel-heading">
          分区资料
       </div>
       <div class = "panel-body">

        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#">分区1</a></li>
          <li role="presentation" ><a href="#">分区2</a></li>
          <li role="presentation" ><a href="#">分区3</a></li>
          <li role="presentation" ><a href="#">分区4</a></li>
        </ul>

        <form class = "form-horizontal" role = "form">
            <div class = "form-group">
              <label for = "firstname" class = "col-sm-4 control-label">分区编号:</label>
                
              <div class = "col-sm-8">
                 <input type = "text" class = "form-control" id = "firstname" placeholder = "Enter First Name">
                 
              </div>
           </div>
           <div class = "form-group">
              <label for = "firstname" class = "col-sm-4 control-label">服务人口:</label>
                
              <div class = "col-sm-8">
                 <input type = "text" class = "form-control" id = "firstname" placeholder = "Enter First Name">
                 
              </div>
           </div>
           <div class = "form-group">
              <label for = "firstname" class = "col-sm-4 control-label">用户数量:</label>
                
              <div class = "col-sm-8">
                 <input type = "text" class = "form-control" id = "firstname" placeholder = "Enter First Name">
                 
              </div>
           </div>
           <div class = "form-group">
              <label for = "firstname" class = "col-sm-4 control-label">管道总长度:</label>
                
              <div class = "col-sm-8">
                 <input type = "text" class = "form-control" id = "firstname" placeholder = "Enter First Name">
                 
              </div>
           </div>
           <div class = "form-group">
              <label for = "firstname" class = "col-sm-4 control-label">管道连接总数:</label>
                
              <div class = "col-sm-8">
                 <input type = "text" class = "form-control" id = "firstname" placeholder = "Enter First Name">
                 
              </div>
           </div>
           <div class = "form-group">
              <label for = "firstname" class = "col-sm-4 control-label">正常夜间用水量:</label>
                
              <div class = "col-sm-8">
                 <input type = "text" class = "form-control" id = "firstname" placeholder = "Enter First Name">
                 
              </div>
           </div>
           <div class = "form-group">
              <label for = "firstname" class = "col-sm-4 control-label">无计量用水:</label>
                
              <div class = "col-sm-8">
                 <input type = "text" class = "form-control" id = "firstname" placeholder = "Enter First Name">
                 
              </div>
           </div>
           <div class = "form-group">
              <label for = "firstname" class = "col-sm-4 control-label">ICF参数:</label>
                
              <div class = "col-sm-8">
                 <input type = "text" class = "form-control" id = "firstname" placeholder = "Enter First Name">
                 
              </div>
           </div>
           <div class = "form-group">
              <label for = "firstname" class = "col-sm-4 control-label">服务面积:</label>
                
              <div class = "col-sm-8">
                 <input type = "text" class = "form-control" id = "firstname" placeholder = "Enter First Name">
                 
              </div>
           </div>
           <div class = "form-group">
              <label for = "firstname" class = "col-sm-4 control-label">管道材质:</label>
                
              <div class = "col-sm-8">
                 <input type = "text" class = "form-control" id = "firstname" placeholder = "Enter First Name">
                 
              </div>
           </div>
           <div class = "form-group">
              <label for = "firstname" class = "col-sm-4 control-label">管道最长:</label>
                
              <div class = "col-sm-8">
                 <input type = "text" class = "form-control" id = "firstname" placeholder = "Enter First Name">
                 
              </div>
           </div>
           <div class = "form-group">
              <label for = "firstname" class = "col-sm-4 control-label">私人拥有水管长度:</label>
                
              <div class = "col-sm-8">
                 <input type = "text" class = "form-control" id = "firstname" placeholder = "Enter First Name">
                 
              </div>
           </div>
           <div class = "form-group">
              <label for = "firstname" class = "col-sm-4 control-label">日售水量:</label>
                
              <div class = "col-sm-8">
                 <input type = "text" class = "form-control" id = "firstname" placeholder = "Enter First Name">
                 
              </div>
           </div>
           <div class = "form-group">
              <label for = "firstname" class = "col-sm-4 control-label">备&nbsp; &nbsp; &nbsp;&nbsp; 注:</label>
                
              <div class = "col-sm-8">
                 <input type = "text" class = "form-control" id = "firstname" placeholder = "Enter First Name">
                 
              </div>
           </div>
           
            
            </form>
        
        </div>
    </div>

    

    <div class = "panel panel-primary col-md-8">
        <div class = "panel-heading">
          计算时间段:2017-12-21 00:00:00 至 2017-12-21 06:00:00
        </div>
        <div class = "panel-body">
            <table class="table table-stripped table-bordered">
                <tr>
                    <th>站点名称</th>
                    <th>表具口径mm</th>
                    <th>计量属性</th>
                    <th>水量m3</th>
                    <th>流入流出合计m3</th>
                    <th>供水量m3</th>
                    <th>售水量m3</th>
                    <th>产销差（率）m3（%）</th>
                    <th>漏损量（率）m3（%）</th>
                </tr>
                <tr>
                    <td>分区1</td>
                    <td>800</td>
                    <td>流入</td>
                    <td>5020.8</td>
                    <td>5020.8</td>
                    <td>2676.1</td>
                    <td>/</td>
                    <td>49.2%</td>
                    <td>23.7%</td>
                </tr>
                <tr>
                    <td>分区2</td>
                    <td>700</td>
                    <td>流入</td>
                    <td>5020.8</td>
                    <td>5020.8</td>
                    <td>2676.1</td>
                    <td>/</td>
                    <td>49.2%</td>
                    <td>23.7%</td>
                </tr>
                <tr>
                    <td>分区3</td>
                    <td>800</td>
                    <td>流入</td>
                    <td>5020.8</td>
                    <td>5020.8</td>
                    <td>2676.1</td>
                    <td>/</td>
                    <td>49.2%</td>
                    <td>23.7%</td>
                </tr>
                <tr>
                    <td>分区4</td>
                    <td>800</td>
                    <td>流入</td>
                    <td>5020.8</td>
                    <td>5020.8</td>
                    <td>2676.1</td>
                    <td>/</td>
                    <td>49.2%</td>
                    <td>23.7%</td>
                </tr>
                
              </table>
        </div>
    </div>

    <div class = "panel panel-primary col-md-8">
        <div class = "panel-heading">
          产销差7日曲线
        </div>
        <div class = "panel-body">
            <div id="chart-1" >
                <h4 class="sub-header">夜间最小流量分析</h4>
                {{ output|safe }}
            </div>
        </div>
    </div>

    </div>
    
    <script src="{%  static 'dma/assets/ol3/ol.js' %} "></script>
    <script src="{%  static 'dma/assets/test.js' %} "></script>
    
    
      
    
    
    {% endblock %}

{% block javascript %}
<script type="text/javascript">


    //$('#tree').treed();
    $('#treeview1').treed({openedClass:'glyphicon-chevron-right', closedClass:'glyphicon-chevron-down'});
    
    
</script>

{% endblock %}