{% extends "water/dma_online.html" %}


{% block content %}
    <h1>站点实时曲线</h1>

    <div class="col-md-6">
      <!-- Default panel contents -->
      <div class="panel-heading">产销差7日曲线</div>
      <div class="panel-body">
        <!-- Table -->
      <div id="chart-1" class="col-md-3">
                <h4 class="sub-header">夜间最小流量分析</h4>
                {{ output|safe }}
            </div>
      </div>

      
    </div>

    <div class="col-md-6">
      <!-- Default panel contents -->
      <div class="panel-heading">产销差7日曲线</div>
      <div class="panel-body">
        <!-- Table -->
      <div id="chart-2" class="col-md-3">
                <h4 class="sub-header">夜间最小流量分析2</h4>
                {{ output2|safe }}
            </div>
      </div>

      
    </div>

    <div class="col-md-6">
      <!-- Default panel contents -->
      <div class="panel-heading">产销差7日曲线</div>
      <div class="panel-body">
        <!-- Table -->
      <div id="chart-3" class="col-md-3">
                <h4 class="sub-header">夜间最小流量分析</h4>
                {{ output3|safe }}
            </div>
      </div>

      
    </div>

    <div class="col-md-6">
      <!-- Default panel contents -->
      <div class="panel-heading">产销差7日曲线</div>
      <div class="panel-body">
        <!-- Table -->
      <div id="chart-4" class="col-md-3">
                <h4 class="sub-header">夜间最小流量分析2</h4>
                {{ output4|safe }}
            </div>
      </div>

      
    </div>

{% endblock %}