{% extends "_base.html" %}

{% block title %}DMA | Gis {% endblock %}

<!-- head -->
{% block head %}
    
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'dma/assets/ol3/ol.css' %}" type = "text/css"/>
    
    <link rel="stylesheet" href="{% static 'dma/css/sample.css' %}" type = "text/css"/>
    
    
{% endblock %}

  {% block content %}
    <div id="map" class="map"></div>
    <div id="myposition"></div>
    <!-- <script src="http://api.tianditu.gov.cn/api?v=4.0&tk=e0955897c7f8a5adeba75b55bb11b600" type="text/javascript"></script> -->
    <script src="{%  static 'dma/assets/ol3/ol.js' %} "></script>
    <script src="{%  static 'dma/assets/test.js' %} "></script>
    
    
      
    
    
    {% endblock %}
