
{% extends "_base.html" %}

{% block title %}DMA detail{% endblock %}

{% block sidebar %}

<ul id="tree">
    {% load mptt_tags %}

{% recursetree nodes %}
    <li>
        <a href="{{node.get_absolute_url }}">{{ node.name }}</a>
        {% if not node.is_leaf_node %}
            <ul class="children">
                <a href="{{node.get_absolute_url }}">{{ children }}</a> 
            </ul>
        {% endif %}
    </li>
{% endrecursetree %}

{% endblock %}


{% load static %}

{% block stylesheet %}
    {{ block.super }}

<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
{{ form.media }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}"/>


{% endblock %}



{% block content %}
    
    {% include 'form-snippet.html' %}
    
{% endblock %}