
{% extends "_base.html" %}

{% block title %}DMA detail{% endblock %}

{% block sidebar %}

<ul id="tree">
    {% load mptt_tags %}

{% recursetree nodes %}
    <li>
        <a href="{{node.get_absolute_url }}">{{ node.name }}</a>
        {% if not node.is_leaf_node %}
            <ul class="children">
                <a href="{{node.get_absolute_url }}">{{ children }}</a> 
            </ul>
        {% endif %}
    </li>
{% endrecursetree %}

{% endblock %}

{% block javascript %}
  <script type="text/javascript">

    $('#tree').treed();

  var id=1;
  $( document ).ready(function() {
       setInterval(function(){
       
       $.ajax({
        url: '/dma/press_value',
        data: {'pid': id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        type: 'POST',
        success: function(res){
            var json = res['press'];
            
            
            
            $('#myTable1 span').html(json['lsl']);
            $('#myTable2 span').html(json['cxc']);
            $('#myTable3 span').html(json['dgc']);
            $('#myTable4 span').html(json['jll']);
            $('#myTable5 span').html(json['bll']);
            $('#myTable6 span').html(json['nyl']);
            $('#myTable7 span').html(json['dts']);
            //this_.dimTexts = geojsonObject.dimTexts;
        }
    });
    id+=1;
       },1000);
    });

  </script>
{% endblock %}


{% block content %}
    
    <ul class="nav nav-tabs">
      <li role="presentation" {% if active_detail %}class="active" {% endif %}><a href="/dma/{{current_zone.slug}}/">分区资料</a></li>
      <li role="presentation" {% if active_balance %}class="active" {% endif %}><a href="/dma/{{current_zone.slug}}/wbalance">水平衡表</a></li>
      <li role="presentation" {% if active_econic %}class="active" {% endif %}><a href="/dma/{{current_zone.slug}}/economy">节能水平评价表</a></li>
      <li role="presentation" {% if active_static %}class="active" {% endif %}><a href="/dma/{{current_zone.slug}}/static">水量统计报表</a></li>
    </ul>
    <br/>

    <h1 class="page-header">{{ current_zone.zone_name }}    <small>创建日期:{{ current_zone.timestamp}}</small></h1>

    <div>
        
        <h4 class="sub-header">分区资料</h4>
        <div>
            <ul class="nav nav-pills" role="tablist">
              <li role="presentation" class="active">分区名称: <span class="badge">{{ current_zone.zone_name}}</span></li>
              <li role="presentation">分区面积（平方公里）:<span class="badge">{{ current_zone.zone_area}}</span></li>
              <li role="presentation">注册用户总数（万户） <span class="badge">{{ current_zone.registed_user}}</span></li>
            </ul>
                        
        </div>
        <div>
            分区进水量（ m3）:<span class="badge">{{ current_zone.zone_water_in}}</span>
            管线长度（ km）:<span class="badge">{{ current_zone.pipeline_length}}</span>
            在线压力点数量（个）:<span class="badge">{{ current_zone.online_presspoint_num}}</span>
            在线流量计数量（个）:<span class="badge">{{ current_zone.online_flowmeter_num}}</span>
        </div>
        <div>
            在线水质监测点数量（个）:<span class="badge">{{ current_zone.online_water_quality_m_num}}</span>
            收费用远传水表数量（只）:<span class="badge">{{ current_zone.charge_watermeter_num}}</span>
            下一级分区数量（个）:<span class="badge">{{ current_zone.sub_zone_num}}</span>
            分区中 DMA 数量（个）:<span class="badge">{{ current_zone.dma_num}}</span>
        </div>
    </div>

    {% block content_inner %}
    


    <br/>

    <h2 class="sub-header">Measure info</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>水表抄见率（ %）</th>
                    <th>抄表准确率（ %）</th>
                    <th>分区销售水量（ m3）</th>
                    <th>夜间最小流量（ m3）</th>
                    <th>水量比（ %）</th>
                    <th>分区探出漏点总数（个）</th>
                    <th>漏失水量（ m3）</th>
                    <th>暗漏水量（ m3）</th>
                    <th>明漏水量（ m3）</th>
                    <th>漏损率（ %）</th>
                    <th>压力合格率（ %）</th>
                    <th>水质合格率（ %）</th>
                    <th>分区内压力（ MPa）</th>
                    <th>更新时间</th>
                </tr>
            </thead>
            <tbody>
            {% for m in current_zone.zmeasure_set.all %}
                <tr>
                    <td>{{ m.measure_per_actual }}</td>
                    <td>{{ m.measure_precision }}</td>
                    <td>{{ m.zone_sale }}</td>
                    <td>{{ m.nightflow_min }}</td>
                    <td>{{ m.charge_waterwater_percent }}</td>
                    <td>{{ m.zone_detect_leak_num }}</td>
                    <td>{{ m.leak_water }}</td>
                    <td>{{ m.leak_obscur_water }}</td>
                    <td>{{ m.leak_obvious_water }}</td>
                    <td>{{ m.leak_rate }}</td>
                    <td>{{ m.pressure_quality }}</td>
                    <td>{{ m.water_quality }}</td>
                    <td>{{ m.zone_inner_pressure }}</td>
                    <td>{{ m.updated }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="list-group col-md-3">
                <a href="#" class="list-group-item active">统计分析</a>
                <a id="myTable1" href="#" class="list-group-item">漏失率（%） <span class="badge">4</span></a>
                <a id="myTable2" href="#" class="list-group-item">产销差率（%） <span class="badge">4</span></a>
                <a id="myTable3" href="#" class="list-group-item">单位管长漏失量（m³/km/h） <span class="badge">4</span></a>
                <a id="myTable4" href="#" class="list-group-item">基础设施漏失指数（ILI） <span class="badge">4</span></a>
                <a id="myTable5" href="#" class="list-group-item">不可避免物理损失水量(L/d) <span class="badge">4</span></a>
                <a id="myTable6" href="#" class="list-group-item">年平均出厂压力 <span class="badge">4</span></a>
                <a id="myTable7" href="#" class="list-group-item">最大冻土深度 <span class="badge">4</span></a>
            
            </div>

          
            <div id="chart-1" class="col-md-3">
                <h4 class="sub-header">夜间最小流量分析</h4>
                {{ output|safe }}
            </div>

        </div>
    </div>
    {% endblock %} {# conntent-inner #}
    
{% endblock %}