{% extends "_base.html" %}

{% block title %}漏损控制系统{% endblock %}

{% block sidebar %}
<ul>
	<li><a href="/test/1" target="main_iframe">item1</a></li>
	<li><a href="/test/2" target="main_iframe">item2</a></li>
</ul>

{% endblock %}


{% block content %}
    <h1 class="page-header">Ajaxify form demo</h1>

    <form class='my-ajax-form' method='POST' action='.' data-url='{{ request.build_absolute_uri|safe }}'>
        
        {{form.as_p|safe}}
        <button type='submit'>Submit</button>
    </form>

    <br/>
    <div id="dat">
        <span></span>
    </div>

{% endblock %}


{% block javascript %}
<script type="text/javascript">

    

    $(document).ready(function(){
        var $myForm = $('.my-ajax-form')
        $myForm.submit(function(event){
            event.preventDefault()
            var $formData = $(this).serialize()
            var $endpoint = $myForm.attr('data-url') || window.location.href //or set your own url
            $.ajax({
                method:"POST",
                url:$endpoint,
                data:$formData,
                success:handleFormSuccess,
                error:handleFormError,
            })
        })

        function handleFormSuccess(data, textStatus, jqXHR){
            console.log(data)
            console.log(textStatus)
            console.log(jqXHR)

            $("#dat span").html(data.message)
            $myForm.reset; // reset form data
        }

        function handleFormError(jqXHR, textStatus, errorThrown){
            console.log(jqXHR)
            console.log(textStatus)
            console.log(errorThrown)
        }

    })
</script>
{% endblock %}