{% extends "_base.html" %}

{% block title %}漏损控制系统{% endblock %}

{% block sidebar %}

<div class="navbar">  
        <div class="navbar-inner">  
            <ul class="nav nav-pills nav-stacked">  
                <li class="dropdown"><a href="#" class="title">每页显示</a>  
                    <ul class="dropdown-menu">  
                        <li><a href="#">10</a></li>  
                        <li><a href="#">20</a></li>  
                        <li><a href="#">50</a></li>  
                        <li><a href="#">100</a></li>  
                    </ul>  
                </li>  

                <li class="dropdown"><a href="#" class="title">每页显示2</a>  
                    <ul class="dropdown-menu">  
                        <li><a href="#">10</a></li>  
                        <li><a href="#">20</a></li>  
                        <li><a href="#">50</a></li>  
                        <li><a href="#">100</a></li>  
                    </ul>  
                </li>  


            </ul>  
        </div>  
    </div>  
</div>

{% endblock %}

{% block stylesheet %}
<style type="text/css">
.navbar .nav > li .dropdown-menu {  
            margin: 10;  
        }  
        .navbar .nav > li:hover .dropdown-menu {  
            display: block;  
        }  
        .title{  
            height: 30px;  
            width: 100px;  
            background-color: rgba(45, 182, 224, 0.09) !important;  
            border-radius: 0 !important;  
            line-height: 10px;  
            color: black !important;  
            border-style:solid;  
            border-width:1px;  
            border-color: rgba(20, 248, 249, 0.15)  
        }  
        .dropdown-menu{  
            border-radius: 0;  
        }  
        a:hover{  
            background-color: rgba(45, 182, 224, 0.09) !important;  
        }  

    .chart div{
        font:10px sans-serif;
        background-color: steelblue;
        text-align: right;
        padding: 3px;
        margin: 2px;
        color: white;
    }

    #dashboard {
        width:320px;
        border: 1px solid black;
    }

    p {
        text-align: center;
    }
</style>
{% endblock %}


{% block content %}
    <h1 class="page-header">Ajaxify form demo</h1>

    <form class='my-ajax-form' method='POST' action='.' data-url='{{ request.build_absolute_uri|safe }}'>
        
        {{form.as_p|safe}}
        <button type='submit'>Submit</button>
    </form>

    <br/>
    <div id="dat">
        <span></span>
    </div>

    <div id="dashboard">
        <p>Earnings</p>
        <div class="chart"></div>
    </div>

{% endblock %}


{% block javascript %}
<script type="text/javascript">

    var data = [30,86,168,281,198,325];

    var scale = d3.scaleLinear()
        .domain([0,365])
        .range([0,300])

    d3.select(".chart")
        .selectAll("div")
        .data(data)
        .enter()
        .append("div")
        .style("width",function(d){return scale(d) + "px";})
        .text(function(d){return d;});

    

    $(document).ready(function(){
        var $myForm = $('.my-ajax-form')
        $myForm.submit(function(event){
            event.preventDefault()
            var $formData = $(this).serialize()
            var $endpoint = $myForm.attr('data-url') || window.location.href //or set your own url
            $.ajax({
                method:"POST",
                url:$endpoint,
                data:$formData,
                success:handleFormSuccess,
                error:handleFormError,
            })
        })

        function handleFormSuccess(data, textStatus, jqXHR){
            console.log(data)
            console.log(textStatus)
            console.log(jqXHR)

            $("#dat span").html(data.message)
            $myForm.reset; // reset form data
        }

        function handleFormError(jqXHR, textStatus, errorThrown){
            console.log(jqXHR)
            console.log(textStatus)
            console.log(errorThrown)
        }

    })
</script>
{% endblock %}