<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top">
      
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">漏损控制系统</a>
        </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a  href="/water/      " >VIRVO</a></li> 
        <li><a  href="/dma/      " >分区管理</a></li> 
        <li><a  href="{% url 'home' %}     ">分区营运</a></li>
        <li><a  href="{% url 'home' %}       ">分区计量</a></li>
        <li><a  href="{% url 'home' %}   ">压力管理</a></li>
        <li><a  href="{% url 'home' %}    ">分析配置</a></li>
        <li><a  href="{% url 'home' %} ">营收管理</a></li>
        <li><a  href="{% url 'home' %}      ">管网捡漏</a></li> 
        <li><a  href="{% url 'home' %}          ">统计报表</a></li>
        <li><a  href="{% url 'home' %}   ">高级应用</a></li>
        
        
        <li><a href="/gis/">地图</a></li>
      </ul>
    </div><!--/.nav-collapse -->
         
  </nav>
</div> 