{% extends 'gis/cookb/cookbook.html' %}

{% block title %}Openlayer3 cookbook|ch01 Moving around the map {% endblock %}


{% block stylesheet %}
<style type="text/css">

.map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 20%;
    font-family: Arial, sans-serif;
}

.pane {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20%;
    background: ghostwhite;
    border-left: 5px solid lightsteelblue;
    box-sizing: border-box;
    padding: 0 20px;
    font-family: Arial, sans-serif;
}

label {
    font-size: 12px;
    font-weight: bold;
    display: block;
}

p {
    margin-bottom: 5px;
}

input {
    padding: 5px;
}

</style>
{% endblock %}

{% block content %}
    <h1>show map control</h1>
    <div id="js-map" class="map"></div>
    <div class="pane">
        <h1>Navigation</h1>
        <label>
            <p>Pan to a city</p>
            <select id="js-city">
                <option value="12.5,41.9">Rome (Italy)</option>
                <option value="30.517,50.45">Kiev (Ukraine)</option>
                <option value="-9.183,38.7">Lisbon (Portugal)</option>
                <option value="-0.117,51.5">London (England)</option>
                <option value="14.417,50.083">Prague (Czech Rep)</option>
            </select>
        </label>

        <label>
            <p>Zoom</p>
            <input type="number" id="js-zoom">
        </label>

        <label>
            <p>Rotation</p>
            <input type="number" id="js-rotate">
        </label>

        <label>
            <p>Lon</p>
            <input type="number" id="js-lon">
        </label>

        <label>
            <p>Lat</p>
            <input type="number" id="js-lat">
        </label>
    </div>
    
{% endblock %}


{% block javascript %}
<script type="text/javascript">
    var map = new ol.Map({
        layers: [
            new ol.layer.Tile({
                source: new ol.source.Stamen({
                    layer: 'watercolor'
                })
            })
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([12.5, 41.9]),
            zoom: 3
        }),
        target: 'js-map',
        
    });

    var citySelect = document.getElementById('js-city');
    var zoomInput = document.getElementById('js-zoom');
    var rotateInput = document.getElementById('js-rotate');
    var lonInput = document.getElementById('js-lon');
    var latInput = document.getElementById('js-lat');

    var updateUI = function(event) {
        var view = event && event.currentTarget || map.getView();
        zoomInput.value = view.getZoom();
        rotateInput.value = view.getRotation();

        var centerLonLat = ol.proj.toLonLat(view.getCenter());
        lonInput.value = centerLonLat[0].toFixed(3);
        latInput.value = centerLonLat[1].toFixed(3);
    };
    updateUI();

    map.getView().on([
        'change:center',
        'change:resolution',
        'change:rotation'
        ],updateUI);

    var setCenter = function(lon,lat) {
        map.getView().setCenter(ol.proj.fromLonLat([
            parseFloat(lon),parseFloat(lat)
            ]));
    };

    window.addEventListener('keyup',function(event) {
        switch(event.target.id){
            case 'js-zoom':
                map.beforeRender(ol.animation.zoom({
                    resolution:map.getView().getResolution(),
                    duration:150
                }));
                map.getView().setZoom(parseInt(event.target.value,10));
                break;

            case 'js-rotate':
                map.beforeRender(ol.animation.rotate({
                    rotation:map.getView().getRotation(),
                    duration:250
                }));
                map.getView().setRotation(parseFloat(event.target.value));
                break;

            case 'js-lon':
                setCenter(event.target.value,latInput.value);
                break;

            case 'js-lat':
                setCenter(lonInput.value,event.target.value);
                break;
        }
    });

    citySelect.addEventListener('change',function() {
        map.beforeRender(ol.animation.pan({
            source:map.getView().getCenter(),
            duration:500
        }));
        setCenter.apply(null,this.value.split(','));
    });


    

</script>
{% endblock %}