{% extends 'gis/cookb/cookbook.html' %}

{% block title %}Openlayer3 cookbook|ch01 map control {% endblock %}


{% block stylesheet %}
<style type="text/css">

.map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


</style>
{% endblock %}

{% block content %}
    <h1>show map extents</h1>
    <div id="js-map" class="map"></div>
    

{% endblock %}


{% block javascript %}
<script type="text/javascript">

    var extent = ol.proj.transformExtent(
        [-125.0011,24.9493,-66.9326,49.5904],
        'EPSG:4326','EPSG:3857'
    );

    new ol.Map({
        layers: [
            new ol.layer.Tile({
                source: new ol.source.Stamen({
                    layer: 'watercolor'
                })
            }),
            new ol.layer.Tile({
                source: new ol.source.Stamen({
                    layer: 'terrain-labels'
                }),
                extent:extent
            })
        ],
        view: new ol.View({
            center: [-12100000, 3400000],
            zoom: 6,
            minZoom:5,
            extent:extent
        }),
        target: 'js-map',
        
    });

    
</script>
{% endblock %}