{% extends 'gis/cookb/cookbook.html' %}

{% block title %}Openlayer3 cookbook|ch03 gml layer {% endblock %}

{% load static %}
{% load staticfiles %}

{% block stylesheet %}
<style type="text/css">

.map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 20%;
    font-family: Arial, sans-serif;
}

.pane {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20%;
    background: ghostwhite;
    border-left: 5px solid lightsteelblue;
    box-sizing: border-box;
    padding: 0 20px;
    font-family: Arial, sans-serif;
}

p {
    font-size: 12px;
}

.layers {
    cursor: move;
    list-style: none;
    padding: 0;
    position: relative;
}

.layers::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 30px;
    width: 100%;
    border: 4px solid lightsteelblue;
    z-index: 0;
}

.layers li {
    z-index: 1;
    position: relative;
    line-height: 38px;
    display: block;
    height: 38px;
    padding: 0 10px;
}



</style>
{% endblock %}

{% block content %}
    <h1>show map control</h1>
    <div id="js-map" class="map"></div>
    

{% endblock %}


{% block javascript %}
<script type="text/javascript">
    var createIconStyle = function(country){
        console.log('{{ STATIC_URL }}/gis/assets/images/flags/' + country +'.png');
        return new ol.style.Style({
            image:new ol.style.Icon({
                src:'/static/gis/assets/images/flags/' + country +'.png'
            })
        })
    };

    var algeria = new ol.Feature(new ol.geom.Point([146759,3297187]));
    var libya = new ol.Feature(new ol.geom.Point([1927436, 3160212]));
    var niger = new ol.Feature(new ol.geom.Point([968610, 1986139]));

    algeria.setStyle(createIconStyle('algeria'));
    libya.setStyle(createIconStyle('libya'));
    niger.setStyle(createIconStyle('niger'));

    var vectorLayer = new ol.layer.Vector({
        source:new ol.source.Vector({
            features:[algeria,libya,niger]
        })
    });

    var map = new ol.Map({
        view: new ol.View({
            zoom: 3,
            center: [1995923, -4167958]
        }),
        target: 'js-map',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM(),
                opacity: 0.4
            }),
            vectorLayer
        ]
    });

    

</script>
{% endblock %}