{% extends 'gis/cookb/cookbook.html' %}

{% block title %}Openlayer3 cookbook|ch03 gml layer {% endblock %}


{% block stylesheet %}
<style type="text/css">

.map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 20%;
    font-family: Arial, sans-serif;
}

.pane {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20%;
    background: ghostwhite;
    border-left: 5px solid lightsteelblue;
    box-sizing: border-box;
    padding: 0 20px;
    font-family: Arial, sans-serif;
}

p {
    font-size: 12px;
}

.layers {
    cursor: move;
    list-style: none;
    padding: 0;
    position: relative;
}

.layers::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 30px;
    width: 100%;
    border: 4px solid lightsteelblue;
    z-index: 0;
}

.layers li {
    z-index: 1;
    position: relative;
    line-height: 38px;
    display: block;
    height: 38px;
    padding: 0 10px;
}



</style>
{% endblock %}

{% block content %}
    <h1>show map control</h1>
    <div id="js-map" class="map"></div>
    <div class="pane">
        <h1>Exporting GeoJSON</h1>
        <form>
            <button type="submit" class="btn btn-default">Export layer</button>
            <textarea class="form-control" rows="20" id="js-textarea"></textarea>
        </form>
    </div>

{% endblock %}


{% block javascript %}
<script type="text/javascript">
    var map = new ol.Map({
        view: new ol.View({
            zoom: 5,
            center: [2103547, 6538117]
        }),
        target: 'js-map',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM(),
                opacity: 0.4
            }),
            
        ]
    });

    var getRandomInt = function(min,max){
        return Math.floor(Math.random()*(max-min+1)) + min;
    };

    var features = [];
    var numberOfFeatures = 0;

    while(numberOfFeatures < 10){
        var circle = new ol.geom.Circle(
            ol.proj.fromLonLat(
                [getRandomInt(14,23),getRandomInt(48,54)]
                ),
            getRandomInt(4,15)*10000
        );

        var polygonCircle = ol.geom.Polygon.fromCircle(circle);

        features.push(new ol.Feature(polygonCircle));
        numberOfFeatures++;
    }

    var vectorLayer = new ol.layer.Vector({
        source:new ol.source.Vector({
            features:features
        })
    });

    map.addLayer(vectorLayer);

    document.forms[0].addEventListener('submit',function(event){
        event.preventDefault();

        var format = new ol.format.GeoJSON();
        var features = vectorLayer.getSource().getFeatures();
        var geoJson = format.writeFeatures(features);

        document.getElementById('js-textarea').value = geoJson;
    });


    

    

</script>
{% endblock %}