{% extends 'gis/cookb/cookbook.html' %}

{% block title %}Openlayer3 cookbook|ch03 gml layer {% endblock %}


{% block stylesheet %}
<style type="text/css">

.map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 30%;
    font-family: Arial, sans-serif;
}

.pane {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    background: ghostwhite;
    border-left: 5px solid lightsteelblue;
    box-sizing: border-box;
    padding: 0 20px;
    font-family: Arial, sans-serif;
}

.ol-attribution > ul {
    font-size: 2.3rem;
}

form {
    padding: 15px 15px 0 15px;
}

.geom-types {
    padding-top: 0;
}


</style>
{% endblock %}

{% block content %}
    <div id="js-map" class="map"></div>
    <div class="pane">
        <h1>Drawing Features</h1>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Layer</h3>
            </div>
            <form>
                <div class="form-group">
                    <select id="js-layer-select" class="form-control">
                        <option value="vectorLayer1">Vector Layer 1</option>
                        <option value="vectorLayer2">Vector Layer 2</option>
                    </select>
                </div>
            </form>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Geometry type</h3>
            </div>
            <form class="geom-types">
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="geometries" value="None" checked>
                            None
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="geometries" value="Point">
                            Point
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="geometries" value="LineString">
                            LineString
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="geometries" value="Polygon">
                            Polygon
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="geometries" value="Circle">
                            Circle
                        </label>
                    </div>
                </div>
            </form>
        </div>

        <div><button id="loadgeojson">Load</button></div>
        <div><button id="export">Export GeoJson</button></div>
    </div>

{% endblock %}


{% block javascript %}


<script type="text/javascript">
/**
 * Chapter 5
 * Drawing features across multiple vector layers
 *
 * Peter J Langley
 * http://www.codechewing.com
 */
var vectorLayer1 = new ol.layer.Vector({
    projection: 'EPSG:4326',
    source: new ol.source.Vector()
});

var vectorLayer2 = new ol.layer.Vector({
    source: new ol.source.Vector()
});

var controls = [
    new ol.control.Attribution({collapsed: false}),
    new ol.control.FullScreen(),
    new ol.control.MousePosition({projection: 'EPSG:4326',}),
    // new ol.control.OverviewMap({collapsed: false, collapsible: false}),
    new ol.control.Rotate({autoHide: false}),
    new ol.control.ScaleLine(),
    new ol.control.Zoom(),
    new ol.control.ZoomSlider(),
    new ol.control.ZoomToExtent()
];

var normal_background = new ol.layer.Tile({ 
            // source: new ol.source.OSM()
            extent: ol.proj.transformExtent([-2.0037508342787E7, -2.0037508342787E7, 2.0037508342787E7, 2.0037508342787E7], "EPSG:900913", "EPSG:3857"),
            source: new ol.source.XYZ({
                urls : ['http://t0.tianditu.com/DataServer?T=cta_w&x={x}&y={y}&l={z}&tk=af218d8a9536478231c24fa299fc48f5&tk=af218d8a9536478231c24fa299fc48f5',
             'http://t2.tianditu.com/DataServer?T=cta_w&x={x}&y={y}&l={z}&tk=af218d8a9536478231c24fa299fc48f5&tk=af218d8a9536478231c24fa299fc48f5',
             'http://t3.tianditu.com/DataServer?T=cta_w&x={x}&y={y}&l={z}&tk=af218d8a9536478231c24fa299fc48f5&tk=af218d8a9536478231c24fa299fc48f5',
             'http://t4.tianditu.com/DataServer?T=cta_w&x={x}&y={y}&l={z}&tk=af218d8a9536478231c24fa299fc48f5&tk=af218d8a9536478231c24fa299fc48f5',
             'http://t5.tianditu.com/DataServer?T=cta_w&x={x}&y={y}&l={z}&tk=af218d8a9536478231c24fa299fc48f5&tk=af218d8a9536478231c24fa299fc48f5',
             'http://t6.tianditu.com/DataServer?T=cta_w&x={x}&y={y}&l={z}&tk=af218d8a9536478231c24fa299fc48f5&tk=af218d8a9536478231c24fa299fc48f5',
             'http://t7.tianditu.com/DataServer?T=cta_w&x={x}&y={y}&l={z}&tk=af218d8a9536478231c24fa299fc48f5&tk=af218d8a9536478231c24fa299fc48f5',
             'http://t1.tianditu.com/DataServer?T=cta_w&x={x}&y={y}&l={z}&tk=af218d8a9536478231c24fa299fc48f5&tk=af218d8a9536478231c24fa299fc48f5'],
    
                
            })
        });

var normal_data =  new ol.layer.Tile({ 
            // source: new ol.source.OSM()
            extent: ol.proj.transformExtent([-2.0037508342787E7, -2.0037508342787E7, 2.0037508342787E7, 2.0037508342787E7], "EPSG:102100", "EPSG:3857"),

            source: new ol.source.XYZ({
                urls: ['http://t0.tianditu.com/DataServer?T=vec_w&x={x}&y={y}&l={z}&tk=af218d8a9536478231c24fa299fc48f5',
                    'http://t1.tianditu.com/DataServer?T=vec_w&x={x}&y={y}&l={z}&tk=af218d8a9536478231c24fa299fc48f5',
                    'http://t2.tianditu.com/DataServer?T=vec_w&x={x}&y={y}&l={z}&tk=af218d8a9536478231c24fa299fc48f5',
                    'http://t3.tianditu.com/DataServer?T=vec_w&x={x}&y={y}&l={z}&tk=af218d8a9536478231c24fa299fc48f5',
                    'http://t4.tianditu.com/DataServer?T=vec_w&x={x}&y={y}&l={z}&tk=af218d8a9536478231c24fa299fc48f5',
                    'http://t5.tianditu.com/DataServer?T=vec_w&x={x}&y={y}&l={z}&tk=af218d8a9536478231c24fa299fc48f5',
                    'http://t6.tianditu.com/DataServer?T=vec_w&x={x}&y={y}&l={z}&tk=af218d8a9536478231c24fa299fc48f5',
                    'http://t7.tianditu.com/DataServer?T=vec_w&x={x}&y={y}&l={z}&tk=af218d8a9536478231c24fa299fc48f5'],
                
            })
        });

// http://t0.tianditu.gov.cn/vec_c/wmts?tk=af218d8a9536478231c24fa299fc48f5
// 

var arrNormal = new ol.Collection();
arrNormal.push(normal_background);
// arrNormal.push(normal_data);

var normal_group = new ol.layer.Group({
    // mapType: ol.control.MapType.NORMAL_MAP,
    layers : arrNormal
});

var center = [118.39469563,29.888188578];
var map = new ol.Map({
    view: new ol.View({
        maxZoom : 26,
        minZoom : 13,
        zoom: 14,
        // center: [-11863791, 3898899]
        center:  new ol.proj.transform(center,"EPSG:4326","EPSG:3857"),
    }),
    target: 'js-map',
    layers: [
        // new ol.layer.Tile({
        //     source: new ol.source.OSM()
        // }),
        normal_background,
        vectorLayer1, vectorLayer2
    ],
    // layerGroup:arrNormal,
    controls: controls
});

// map.setLayerGroup(normal_group);

var layerSelect = $('#js-layer-select');
var geomRadios = $('[name=geometries]');
var drawControl;

var updateDrawControl = function() {
    var geometryType = geomRadios.filter(':checked').val();

    map.removeInteraction(drawControl);

    if (geometryType === 'None') return;

    drawControl = new ol.interaction.Draw({
        type: geometryType,
        source: window[layerSelect.val()].getSource()
    });

    map.addInteraction(drawControl);

    drawControl.on('drawend',function(event){
        map.removeInteraction(drawControl);
        console.log(event.feature)
        feature = event.feature;
        style = new ol.style.Style({
            //I don't know how to get the color of your kml to fill each room
            fill: new ol.style.Fill({ color: 'red' }),
            stroke: new ol.style.Stroke({ color: '#000' }),
            text: new ol.style.Text({
                text: feature.get('name'),
                font: '12px Calibri,sans-serif',
                fill: new ol.style.Fill({ color: 'red' }),
                stroke: new ol.style.Stroke({
                    color: '#fff', width: 2
                })
            })
        });
        feature.setStyle(style);
        var coords = feature.getGeometry().getCoordinates();
        console.log(coords)

        
    })

};




layerSelect.on('change', updateDrawControl);
geomRadios.on('change', updateDrawControl);
    
    var flag = false;
    var WEBSITE_ROOT='http://192.168.1.51:8000/ggis';

$("#loadgeojson").on("click",function(){
    flag= true;
    $.ajax({
            type:"GET",
            url:WEBSITE_ROOT+"/getgeojson/",
            // context:this
        }).done(function(data){
            var format = new ol.format.GeoJSON();//{dataProjection: 'EPSG:3857'}
            var features = format.readFeatures(data,)
            console.log(features)
            vectorLayer1.getSource().addFeatures(features);
            vectorLayer1.getSource().forEachFeature(function(feature){

                            console.log(feature.getProperties());

                            style = new ol.style.Style({
                                //I don't know how to get the color of your kml to fill each room
                                fill: new ol.style.Fill({ color: 'blue' }),
                                stroke: new ol.style.Stroke({ color: '#000' }),
                                text: new ol.style.Text({
                                    text: feature.get('name'),
                                    font: '12px Calibri,sans-serif',
                                    fill: new ol.style.Fill({ color: 'red' }),
                                    stroke: new ol.style.Stroke({
                                        color: '#fff', width: 2
                                    })
                                })
                            });
                            feature.setStyle(style);
                        });
            // var feature = vectorLayer.getSource().getFeatures()[28];
            var polygon = features[0].getGeometry();
            console.log(polygon)
            map.getView().fit(polygon, map.getSize()); 
        })
})


$("#loadgeojson_old").on("click",function(){
    flag= true;
    var vectorLayer = new ol.layer.Vector({
        source:new ol.source.Vector({
            loader:function(){
                $.ajax({
                    type:"GET",
                    url:"/gis/getgeojson/",
                    context:this
                }).done(function(data){
                    var format = new ol.format.GeoJSON();//{dataProjection: 'EPSG:3857'}
                    var features = format.readFeatures(data,)
                    console.log(features)
                    this.addFeatures(features);
                    // var feature = vectorLayer.getSource().getFeatures()[28];
                    var polygon = features[0].getGeometry();
                    console.log(polygon)
                    map.getView().fit(polygon, map.getSize()); 
                })
            }
        })
    });

    map.addLayer(vectorLayer);
    // map.getView().fit();
})

$("#export").on('click',function(){
    var format = new ol.format.GeoJSON();
    var features = window[layerSelect.val()].getSource().getFeatures();
    console.log(features)
    var geoJson = format.writeFeatures(features);
    console.log(geoJson)
    console.log(JSON.stringify(geoJson))
})

map.on('dblclick',function(event){
    if(flag){
        alert('dblclick');
        flag = false;
    }
})

</script>
{% endblock %}